# Dependencies
node_modules/
npm-debug.log*
.npm/
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Production
/dist
/build
/out

# IDEs
.vscode/
.idea/
*.sw[op]
*.swo
*.swp
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Database
*.sqlite
*.sqlite3
*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Typescript
*.tsbuildinfo
next-env.d.ts

# Docker
.dockerignore
.env.docker
docker-compose.override.yml

# Testing
/coverage
*.test.ts
*.spec.ts

# Temporary files
*.tmp
*.temp

# Vercel
.vercel
